
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #01772e;
}

.container {
    /* 화면 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    color: rgb(247, 232, 204);
    font-size: 11vh;
    font-family: 'KOTRAHOPE';
}

.notesIcon {
    font-size: 4vh;
}
.shoesIcon {
    font-size: 5vh;
}

a:link {
    color: rgb(247, 232, 204);
    text-decoration: none;
}

a:visited {
    color: rgb(247, 232, 204);
}
p {
    position: relative;
}

/* p::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: rgba(200, 125, 220, .6);
  }

  p:hover p::after {
    width: 100%;
    transition: width .3s;
  } */